<!DOCTYPE HTML>
<html>
	<head>
		<meta charset="utf-8">
		<script src="../statics/layui/layui.js"></script>
		<script src="../statics/js/jquery-3.4.1.js"></script>
		<script src="../statics/js/admin/admin.js"></script>
<style>
body{
	background-color: #d8c7a0;
}
li {
	list-style: none;
	line-height: 80px;
}
input {
	width:200px;
	height:30px;
}
button {
	height: 30px;
	width: 80px;
}
</style>
	</head>
	<body>
		{{range $value := .data}}
		<ul>
			<li>学号:<input disabled="readonly" type="text" name="id" id="id" value="{{$value.ID}}"></li>
			<li>姓名:<input type="text" name="name" id="name" value="{{$value.Name}}"></li>
			<li>专业:<input type="text" name="major" id="major" value="{{$value.Major}}"></li>
			<li>性别:<input type="text" name="sex" id="sex" value="{{$value.Sex}}"></li>
			<li>日期:<input type="text" name="birthday" id="birthday" value="{{$value.Birthday}}"></li>
			<li>成绩:<input type="text" name="socre" id="socre" value="{{$value.Socre}}"></li>
			<li><button type="button" onclick="edits({{$value.ID}})">修改</button></li>
    	</ul>
		{{end}}
	</body>
</html>
