<!DOCTYPE HTML>

<head>
<meta charset="utf-8">
<title>学生信息管理系统</title>
<script src="../statics/js/jquery-3.4.1.js"></script>
<script src="../statics/js/login/login-js.js"></script>
<link rel="stylesheet" href="../statics/css/login/login.css">
</head>
<body>
<div id="header">
  <h1>学生信息管理系统</h1>
</div>
<div id="content">
	<form id="form2" onsubmit="return false" method="post">
    账号:
    <input type="text" name="name" id="name">
    <br>
    密码:
    <input type="password" name="password" id="password">
    <br>
    <input type="submit" name="change" value="登录" style="height:30px; width:80px;">
	</form>
</div>
<div id="footer">
  <p>学生信息管理系统</p>
</div>
</body>
</html>
